name: Build
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract JDK version
        id: jdkversion
        uses: ./.github/actions/extract-jdk-version

      - name: Print extracted version
        run: |
          echo "Extracted: ${{ steps.jdkversion.outputs.version }}"

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ steps.jdkversion.outputs.version }}
          cache: 'maven'

      - name: Set up Aerospike Database
        uses: reugn/github-action-aerospike@v1

      - name: Build with Maven
        run: mvn clean test -B -U