name: Build and release

permissions:
  id-token: write
  packages: write
  contents: read
  attestations: write

on:
  workflow_call:
    secrets:
      GPG_SECRET_KEY:
        required: true
      GPG_PUBLIC_KEY:
        required: true
      GPG_PASS:
        required: true

jobs:
  extract-version:
    runs-on: ${{ vars.BUILD_CONTAINER_DISTRO_VERSION }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Extract Version
        id: extract
        uses: ./.github/actions/get-version
    outputs:
      version: ${{ steps.extract.outputs.release-version }}

  build-packages:
    needs: extract-version
    uses: aerospike/shared-workflows/.github/workflows/reusable_execute-build.yaml@e9d98e77b7895f22a3a45393f8461d44901df7be
    with:
      runs-on: ${{ vars.BUILD_CONTAINER_DISTRO_VERSION }}
      jf-project: ${{ vars.JFROG_PROJECT }}
      jf-build-name: aerospike-client-java-reactive
      jf-build-id: ${{ github.run_number }}-buildinfo-${{ needs.extract-version.outputs.version }}
      gh-checkout-path: shared-workflows
      gh-source-path: aerospike-client-java-reactive
      working-directory: aerospike-client-java-reactive
      setup-java: true
      java-version: 8
      java-distribution: "temurin"
      build-script: |
        # Start Aerospike via the GitHub Action
        echo "Starting Aerospike DB..."
        docker run -d --name aerospike -p 3000:3000 aerospike/aerospike-server
        sleep 5

        # Maven build
        mvn clean install -B -U -Dgpg.skip=true

        cd reactor-client

        LOCAL_REPO=$(mvn help:evaluate -Dexpression=settings.localRepository -q -DforceStdout)
        GROUP_ID=$(mvn help:evaluate -Dexpression=project.groupId -q -DforceStdout)
        ARTIFACT_ID=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)
        VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)

        GROUP_PATH=$(echo "$GROUP_ID" | tr '.' '/')
        ARTIFACT_PATH="$LOCAL_REPO/$GROUP_PATH/$ARTIFACT_ID/$VERSION"

        cd -

        echo "Copying artifacts to ./build/"
        for file in "$ARTIFACT_PATH"/*; do
          if [[ "$file" == *"-jar-with-dependencies.jar" ]] || [[ "$file" == *"_remote.repositories" ]]; then
            continue
          fi
          cp "$file" build/
        done
      gh-artifact-directory: build
      gh-artifact-name: build-artifacts-${{ needs.extract-version.outputs.version }}
      gh-retention-days: 1
      jf-url: https://artifact.aerospike.io
      publish-build-info: true
      oidc-provider-name: ${{ vars.OIDC_PROVIDER_NAME }}
      oidc-audience: ${{ vars.OIDC_AUDIENCE }}

  sign-artifacts:
    needs: [build-packages, extract-version]
    uses: aerospike/shared-workflows/.github/workflows/reusable_sign-artifacts.yaml@f864dac717b2792d0ef7a967f0a4c06983fca7ce
    with:
      gh-retention-days: 1
      gh-artifact-name: signed_build-artifacts-${{ needs.extract-version.outputs.version }}
      gh-unsigned-artifacts: build-artifacts-${{ needs.extract-version.outputs.version }}
    secrets:
      gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
      gpg-public-key: ${{ secrets.GPG_PUBLIC_KEY }}
      gpg-key-pass: ${{ secrets.GPG_PASS }}

  deploy-artifacts:
    needs: [sign-artifacts, extract-version]
    uses: aerospike/shared-workflows/.github/workflows/reusable_deploy-artifacts.yaml@f864dac717b2792d0ef7a967f0a4c06983fca7ce
    with:
      gh-workflows-ref: f864dac717b2792d0ef7a967f0a4c06983fca7ce
      jf-project: ${{ vars.JFROG_PROJECT }}
      jf-build-name: aerospike-client-java-reactive
      jf-metadata-build-id: ${{ github.run_number }}-buildinfo
      jf-build-id: ${{ github.run_number }}
      gh-artifact-name: ${{ needs.sign-artifacts.outputs.gh-artifact-name }}
      version: ${{ needs.extract-version.outputs.version }}
      gh-retention-days: 1
      oidc-provider-name: ${{ vars.OIDC_PROVIDER_NAME }}
      oidc-audience: ${{ vars.OIDC_AUDIENCE }}
      dry-run: false

  create-release-bundle:
    needs: [extract-version, deploy-artifacts]
    uses: aerospike/shared-workflows/.github/workflows/reusable_create-release-bundle.yaml@f864dac717b2792d0ef7a967f0a4c06983fca7ce
    with:
      jf-project: ${{ vars.JFROG_PROJECT }}
      jf-build-names: aerospike-client-java-reactive:${{ github.run_number }}
      jf-bundle-name: aerospike-client-java-reactive
      version: ${{ needs.extract-version.outputs.version }}
      oidc-provider-name: ${{ vars.OIDC_PROVIDER_NAME }}
      oidc-audience: ${{ vars.OIDC_AUDIENCE }}
      dry-run: false
