name: Promote to Prod

permissions:
  # This is required for requesting the OIDC token
  id-token: write

on:
  pull_request:
    branches: [ main, stage ]
  workflow_dispatch:
    inputs:
      build-number:
        type: number
        description: Build number used to build artifact to be promoted

jobs:
  promote-from-stage-to-prod:
    name: Promote from stage to prod
    uses: ./.github/workflows/promote.yaml
    with:
      build-number: 17
      target-repository: database-maven-dev-local
      target-branch: main
      source-branch: stage
    secrets: inherit
